@import "@/style/theme.scss";
@import "@/style/mixins.scss";

.view-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  @include useHover(bg-color-3);
}

.tools-item {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: var(--jv-space-sm);
  font-size: var(--jv-font-size-ssm);

  .pre {
    display: flex;
    align-items: center;
  }
  .content {
    // 不允许换行
    white-space: nowrap;
  }
  .suf {
    display: flex;
    align-items: center;
    @include useTheme {
      color: gv(font-color-4);
    }
  }
}
