* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

body{
  overflow: hidden;
}

li {
  list-style: none;
}
