@import "./utils.scss";

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: trans(opacity, lg);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: trans(opacity, lg);
}
